<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="alert alert-danger" role="alert">
				<h4 class="mb-0">You don't have permission to see this document.</h4>
			</div>
			<a href="/" class="btn btn-primary">Go back</a>
		</div>
	</div>
</div>