<section class="phx-hero row">
  <div class="column">
    <h2>Open/Create Document</h2>
    <form id="open-doc">
	    <input name="id" type="text" placeholder="Document name" required />
	    <br>
		<input name="key" type="text" placeholder="Key" required />
		<br>
	    <button type="submit">Go</button>
    </form>
  </div>
</section>
